<template>
  <div>
    <commonTable
      :tableData="tableData"
      :tableHeader="tableHeader"
      @listenEdit="edit"
      @listenAdd="add"
    ></commonTable>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="课程名称" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="课程难度" :label-width="formLabelWidth">
          <el-select v-model="form.difficulty" placeholder="请选择课程难度">
            <el-option label="入门" value="easy"></el-option>
            <el-option label="普通" value="normal"></el-option>
            <el-option label="困难" value="hard"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="课程描述" :label-width="formLabelWidth">
          <el-input v-model="form.desc" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="handleCancel">取 消</el-button>
        <el-button type="primary" @click="handleSubmit">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import commonTable from '../tables/commons.vue'

export default {
  components: {
    commonTable
  },
  data () {
    return {
      formLabelWidth: '120px',
      dialogFormVisible: false,
      dialogTitle: '课程添加/修改',
      total: 0,
      pageSize: 10,
      currentPage: 1,
      form: {
        name: '',
        difficulty: '',
        desc: ''
      },
      tableData: [],
      formData: new FormData(),
      tableHeader: []
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      var api =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/lessons?page=' +
        this.currentPage +
        '&size=' +
        this.pageSize
      this.$http.get(api).then(response => {
        console.log(response.body)
        var data = response.body.data
        this.tableData = data
        this.currentPage = response.body.page
        this.pageSize = response.body.size
        var headerItems = Object.keys(data[0])
        for (var i = 0; i < headerItems.length; i++) {
          this.tableHeader[i] = { prop: headerItems[i], label: headerItems[i] }
        }
        console.log(this.total, this.tableHeader)
      })
      api = this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/admin_models/statistic'
      this.$http.get(api).then(response => {
        var data = response.body.data
        this.total = data.lessons
      })
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getData()
    },
    edit (row) {
      console.log(row)
      this.dialogFormVisible = true
    },
    add () {
      this.dialogFormVisible = true
    },
    handleCancel () {
      for (var prop in this.form) {
        this.form[prop] = ''
      }
      this.dialogFormVisible = false
    },
    handleSubmit () {
      var api =
        this.$store.state.serverHost + this.$store.state.adminApi + '/lessons'
      for (var prop in this.form) {
        this.formData.append(prop, this.form[prop])
      }
      this.$http.post(api, this.formData).then(response => {
        console.log('Post response:', response)
        this.formData = new FormData()
      })
      this.dialogFormVisible = false
    }
  }
}
</script>
