<template>
  <div>
    <commonTable
      :tableData="tableData"
      :tableHeader="tableHeader"
      @listenEdit="edit"
      @listenAdd="add"
    ></commonTable>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="姓名" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="性别" :label-width="formLabelWidth">
          <el-select v-model="form.gender" placeholder="请选择用户性别">
            <el-option label="男" value="男"></el-option>
            <el-option label="女" value="女"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="年龄" :label-width="formLabelWidth">
          <el-input v-model="form.age" autocomplete="off" type="number" placeholder="请输入用户年龄" oninput="if(value>99)value=99;if(value.length>2)value=value.slice(0,2);if(value<0)value=0"></el-input>
        </el-form-item>
        <el-form-item label="手机号" :label-width="formLabelWidth">
          <el-input v-model="form.phone" autocomplete="off" type="number" placeholder="请输入手机号码" oninput="if(value.length>11)value=value.slice(0,11);if(value<11)value=value"></el-input>
        </el-form-item>
        <el-form-item label="头像" :label-width="formLabelWidth">
          <input
            type="file"
            accept="image/png, image/jpeg"
            autocomplete="off"
            @change="handleUpload"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="handleCancel">取 消</el-button>
        <el-button type="primary" @click="handleSubmit">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import commonTable from '../tables/commons.vue'

export default {
  components: {
    commonTable
  },
  data () {
    return {
      formLabelWidth: '120px',
      dialogFormVisible: false,
      dialogTitle: '用户添加/修改',
      total: 0,
      pageSize: 10,
      currentPage: 1,
      form: {
        name: '',
        gender: '',
        age: '',
        phone: ''
      },
      tableData: [],
      formData: new FormData(),
      tableHeader: []
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      var api =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/users?page=' +
        this.currentPage +
        '&size=' +
        this.pageSize
      this.$http.get(api).then(response => {
        var data = response.body.data
        this.tableData = data
        this.currentPage = response.body.page
        this.pageSize = response.body.size
        var headerItems = Object.keys(data[0])
        for (var i = 0; i < headerItems.length; i++) {
          this.tableHeader[i] = { prop: headerItems[i], label: headerItems[i] }
        }
      })
      api = this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/admin_models/statistic'
      this.$http.get(api).then(response => {
        var data = response.body.data
        this.total = data.users
      })
    },
    handleUpload (e) {
      var file = e.target.files[0]
      this.formData.append('avatar', file)
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getData()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getData()
    },
    edit (row) {
      console.log(row)
      this.dialogFormVisible = true
    },
    add () {
      this.dialogFormVisible = true
    },
    handleCancel () {
      for (var prop in this.form) {
        this.form[prop] = ''
      }
      this.dialogFormVisible = false
    },
    handleSubmit () {
      var api =
        this.$store.state.serverHost + this.$store.state.adminApi + '/users'
      let config = {
        headers: { 'Content-Type': 'multipart/form-data' }
      }
      for (var prop in this.form) {
        this.formData.append(prop, this.form[prop])
      }
      this.$http.post(api, this.formData, config).then(response => {
        console.log('Post response:', response)
        this.formData = new FormData()
      })
      this.dialogFormVisible = false
    }
  }
}
</script>
