<template>
  <div>
    <commonTable
      :tableData="tableData"
      :tableHeader="tableHeader"
      @listenEdit="edit"
      @listenAdd="add"
    ></commonTable>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="课程" :label-width="formLabelWidth">
          <el-select v-model="form.lesson_number" placeholder="请选课程">
            <el-option
              v-for="(lesson, idx) in lessons"
              :key="idx"
              :label="lesson.name"
              :value="lesson.lessonNum"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="教练" :label-width="formLabelWidth">
          <el-select v-model="form.teacher_number" placeholder="请选择教练">
            <el-option
              v-for="(teacher, idx) in teachers"
              :key="idx"
              :label="teacher.name"
              :value="teacher.teacherNum"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="场馆" :label-width="formLabelWidth">
          <el-select v-model="form.place_number" placeholder="请选择场馆">
            <el-option
              v-for="(place, idx) in places"
              :key="idx"
              :label="place.name"
              :value="place.placeNum"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="上课日期" :label-width="formLabelWidth">
          <el-date-picker
            v-model="form.date"
            align="right"
            type="date"
            placeholder="选择日期"
            :picker-options="pickerOptions"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="上课时间" :label-width="formLabelWidth">
          <el-time-picker
            v-model="form.time1"
            :picker-options="{selectableRange: '08:00:00 - 23:59:59'}"
            placeholder="课程开始"
            value-format="HH:mm:ss"
          ></el-time-picker>~
          <el-time-picker
            v-model="form.time2"
            :picker-options="{selectableRange: '08:00:00 - 23:59:59'}"
            placeholder="课程结束"
            value-format="HH:mm:ss"
          ></el-time-picker>
        </el-form-item>
        <el-form-item label="上课人数" :label-width="formLabelWidth">
          <el-input placeholder="请输入上课总人数" v-model="form.total" type="number" style="width: 220px;"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="handleCancel">取 消</el-button>
        <el-button type="primary" @click="handleSubmit">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import commonTable from '../tables/commons.vue'

export default {
  components: {
    commonTable
  },
  data () {
    return {
      formLabelWidth: '120px',
      dialogFormVisible: false,
      dialogTitle: '课时添加/修改',
      total: 50,
      pageSize: 10,
      currentPage: 1,
      form: {
        lesson_number: '',
        place_number: '',
        teacher_number: '',
        date: '',
        time1: '',
        time2: '',
        delivery: false,
        desc: '',
        total: null
      },
      tableData: [],
      tableHeader: [],
      teachers: [],
      places: [],
      lessons: [],
      formData: new FormData(),
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 3600 * 1000 * 24
        },
        shortcuts: [
          {
            text: '今天',
            onClick (picker) {
              picker.$emit('pick', new Date().toDateString())
            }
          },
          {
            text: '明天',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() + 3600 * 1000 * 24)
              picker.$emit('pick', date.toDateString())
            }
          },
          {
            text: '一周后',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() + 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date.toDateString())
            }
          }
        ]
      }
    }
  },
  mounted () {
    this.getData()
    this.getBaseData()
  },
  methods: {
    getBaseData () {
      var api =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/admin_models/baseinfo'
      this.$http.get(api).then(response => {
        var rst = response.body.data
        this.teachers = rst.teachers
        this.places = rst.places
        this.lessons = rst.lessons
      })
    },
    getData () {
      var api =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/classes?page=' +
        this.currentPage +
        '&size=' +
        this.pageSize
      this.$http.get(api).then(response => {
        var data = response.body.data
        this.tableData = data
        this.total = this.tableData.length
        this.currentPage = response.body.page
        this.pageSize = response.body.size
        if (data === undefined || data.length === undefined || data.length === 0) {
          return
        }
        var headerItems = Object.keys(data[0])
        for (var i = 0; i < headerItems.length; i++) {
          this.tableHeader[i] = { prop: headerItems[i], label: headerItems[i] }
        }
      })
    },
    handleSizeChange (val) {
      this.pageSize = val
      console.log(this.pageSize)
    },
    handleCurrentChange (val) {
      this.currentPage = val
      console.log(this.currentPage)
    },
    edit (row) {
      console.log(row)
      this.dialogFormVisible = true
    },
    add () {
      this.dialogFormVisible = true
    },
    handleCancel () {
      for (var prop in this.form) {
        this.form[prop] = ''
      }
      this.dialogFormVisible = false
    },
    handleSubmit () {
      var api =
        this.$store.state.serverHost + this.$store.state.adminApi + '/classes'
      for (var prop in this.form) {
        this.formData.append(prop, this.form[prop])
      }
      var start = this.form['date'] + ' ' + this.form['time1']
      var end = this.form['date'] + ' ' + this.form['time2']
      this.formData.append('startTime', start)
      this.formData.append('endTime', end)
      this.$http.post(api, this.formData).then(response => {
        this.formData = new FormData()
      })
      this.dialogFormVisible = false
    }
  }
}
</script>
