<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="4">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div class="grid-content grid-con-1">
            <i class="el-icon-service grid-con-icon"></i>
            <div class="grid-cont-right">
              <div>
                <div class="grid-ctnt">
                  <span>教练人数</span>
                </div>
                <div class="grid-num">{{teachers}}</div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :span="4">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div class="grid-content grid-con-2">
            <i class="el-icon-location grid-con-icon"></i>
            <div class="grid-cont-right">
              <div>
                <div class="grid-ctnt">
                  <span>场馆数量</span>
                </div>
                <div class="grid-num">{{places}}</div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :span="4">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div class="grid-content grid-con-3">
            <i class="el-icon-tickets grid-con-icon"></i>
            <div class="grid-cont-right">
              <div>
                <div class="grid-ctnt">
                  <span>课程数量</span>
                </div>
                <div class="grid-num">{{lessons}}</div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :span="4">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div class="grid-content grid-con-1">
            <i class="el-icon-date grid-con-icon"></i>
            <div class="grid-cont-right">
              <div>
                <div class="grid-ctnt">
                  <span>课时数量</span>
                </div>
                <div class="grid-num">{{yogas}}</div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :span="4">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div class="grid-content grid-con-2">
            <i class="el-icon-view grid-con-icon"></i>
            <div class="grid-cont-right">
              <div>
                <div class="grid-ctnt">
                  <span>用户数量</span>
                </div>
                <div class="grid-num">{{users}}</div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :span="4">
        <el-card shadow="hover" :body-style="{ padding: '0px' }">
          <div class="grid-content grid-con-3">
            <i class="el-icon-tickets grid-con-icon"></i>
            <div class="grid-cont-right">
              <div>
                <div class="grid-ctnt">
                  <span>订阅人次</span>
                </div>
                <div class="grid-num">{{subs}}</div>
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<style>
.el-card__header {
  padding: 5px;
}
.dashCardTitle {
  font-size: 14px;
}
.dashCardCtnt {
  font-size: 12px;
}
.dashCardLink {
  font-size: 10px;
}
.grid-content {
  display: flex;
  align-items: center;
  height: 50px;
}
.grid-cont-right {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #999;
}
.grid-num {
  font-size: 12px;
  font-weight: bold;
}
.grid-con-icon {
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.grid-con-1 {
  background-color: rgb(59, 141, 228);
}
.grid-con-1 .grid-con-icon {
  background: rgb(31, 114, 204);
}
.grid-con-2 {
  background-color: rgb(75, 189, 88);
}
.grid-con-2 .grid-con-icon {
  background: rgb(71, 170, 83);
}
.grid-con-3 {
  background-color: rgb(242, 94, 67)
}
.grid-con-3 .grid-con-icon {
  background: rgb(216, 65, 39);
}
.grid-hr {
  margin-bottom: 0px;
  margin-top: 10px;
  color: #fff;
}
.grid-ctnt, .grid-num {
  margin-top: 5px;
  color: #FEFEFE;
}
</style>

<script>
export default {
  data () {
    return {
      teachers: 0,
      lessons: 0,
      yogas: 0,
      places: 0,
      users: 0,
      subs: 0
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      var api =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/admin_models/statistic'
      this.$http.get(api).then(response => {
        var data = response.body.data
        this.yogas = data.yoga
        this.lessons = data.lessons
        this.teachers = data.teachers
        this.places = data.places
        this.users = data.users
        this.subs = data.subs
      })
    }
  }
}
</script>
