<template>
  <div class="center-body">
    <div class="buff"></div>
    <div class="info-body">
      <div class="basic-info">
        <el-row :gutter="20">
          <el-col class="user-avatar" :span="4" :offset="4">
            <img :src="server + avatar" alt>
          </el-col>
          <el-col class="user-info" :span="14" :offset="1">
            <el-row>
              <el-col>
                <div class="username">
                  <span>姓名：</span>
                  <span>{{username}}</span>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <div class="gender">
                  <span>性别：</span>
                  <span>{{gender}}</span>
                </div>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </div>
      <hr class="light-hr">
      <div class="sub-class">
        <div class="class-card" v-for="(subClass, index) in subClasses" :key="index">
          <el-card shadow="hover">
            <div slot="header" style="height:25px;">
              <span style="float: left">{{subClass.lesson}}</span>
              <div style="float: right">
                <span>状态：{{subClass.state}}</span>
                <i :class="subClass.stateIcon"></i>
              </div>
            </div>
            <div class="class-ctnt">
              <div>
                <span>场馆：{{subClass.place}}</span>
              </div>
              <div>
                <span>地点：{{subClass.address}}</span>
              </div>
              <div>
                <span>日期：{{subClass.date}}</span>
              </div>
              <div>
                <span>时间：{{subClass.startTime}} - {{subClass.endTime}}</span>
              </div>
              <div>
                <span>教练：{{subClass.teacher}}</span>
              </div>
            </div>
          </el-card>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.buff {
  height: 10px;
}
.info-body {
  height: 100%;
}
.center-body {
  background-color: #FFE4B5;
  height: 800px;
}
.basic-info {
  width: 80%;
  height: 60px;
  margin: 0 auto 0 auto;
}
.user-avatar {
  width: 60px;
  height: 60px;
}
.user-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-info div {
  margin: 1px;
  text-align: left;
}
.user-info div span {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  color: #d1821a;
}
.sub-class .el-card__header {
  padding-bottom: 8px;
}
.class-card {
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: #f5ba6e;
  border: 0;
}
.class-card .el-card {
  margin-bottom: 5px;
  border: #d1821a 1px solid;
}
.class-ctnt {
  padding-left: 20px;
  margin-bottom: 5px;
}
.class-ctnt,
.class-ctnt span {
  float: left;
}
</style>

<script>
export default {
  data () {
    return {
      token: this.$store.state.token,
      username: '',
      gender: '',
      avatar: '',
      server: this.$store.state.serverHost,
      subClasses: [
      ]
    }
  },
  mounted () {
    this.isValid()
    this.getData()
  },
  methods: {
    getData () {
      var api = this.$store.state.serverHost + this.$store.state.classApi + '/info/' + this.token
      this.$http.get(api).then(function (res) {
        var data = res.body.data
        var user = data.user_info
        this.username = user.name
        this.gender = user.gender
        // var tmp = user.avatar.slice(5)
        // var avatarIdx = tmp.search('media')
        // if (avatarIdx < 0) {
        //   return
        // }
        // var avatar = user.avatar.slice(avatarIdx + 4)
        this.avatar = user.avatar
        var subs = data.sub_info
        if (subs === undefined || subs.length === 0) {
          this.$notify({
            title: '赶快去预约吧',
            message: '您还没有预定任何课程',
            type: 'warning'
          })
        } else {
          this.subClasses = subs
        }
      })
    },
    isValid () {
      var token = this.token
      if (token === undefined || token === null || token.length !== 32) {
        this.$router.push({name: 'login'})
      } else {
        if (this.$store.state.token !== token) {
          this.$store.commit('saveToken', token)
        }
        this.token = token
      }
    }
  }
}
</script>
