<template>
  <div class="cmt-body">
    <el-table :data="tableData" style="width: 100%">
      <el-table-column label="日期" prop="date" align="center"></el-table-column>
      <el-table-column label="时间" prop="time"></el-table-column>
      <el-table-column label="场馆" prop="place"></el-table-column>
      <el-table-column label="教练" prop="teacher"></el-table-column>
      <el-table-column align="center">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleCmt(scope.$index, scope.row)">评价</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" width="80%">
      <el-form :model="form">
        <el-form-item label="教练评价">
          <el-rate v-model="form.teacherCmtLv" :colors="['#99A9BF', '#F7BA2A', '#FF9900']"></el-rate>
        </el-form-item>
        <el-form-item label="推荐" :label-width="formLabelWidth">
          <el-input v-model="form.teacherCmt" autocomplete="off" :placeholder="teacherCmtPh"></el-input>
        </el-form-item>
        <el-form-item label="课程评价">
          <div class="block">
            <el-rate v-model="form.lessonCmtLv" :colors="['#99A9BF', '#F7BA2A', '#FF9900']"></el-rate>
          </div>
        </el-form-item>
        <el-form-item label="推荐" :label-width="formLabelWidth">
          <el-input v-model="form.lessonCmt" autocomplete="off" :placeholder="lessonCmtph"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleSubmit">确 定</el-button>
        <el-button type="primary" @click="handleQuickSubmit">快速评价</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<style>
.cmt-body,
.cmt-body .el-table tr,
.cmt-body .el-table th,
.cmt-body .el-table td {
  background-color: #FFE4B5;
  border-bottom: 1px #f5aa49 solid;
}
.el-table::before {
  background: #f5aa49;
}
.cmt-body{
  height: 800px;
}
</style>

<script>
export default {
  data () {
    return {
      token: this.$store.state.token,
      formLabelWidth: '50px',
      dialogFormVisible: false,
      dialogTitle: '课程评价',
      teacherCmtPh: '金牌教练，强烈推荐',
      lessonCmtph: '精品课程，强烈推荐',
      form: {
        teacherCmtLv: 5,
        lessonCmtLv: 5,
        teacherCmt: '',
        lessonCmt: '',
        classNum: null,
        teacherNum: null,
        id: null
      },
      tableData: null
    }
  },
  mounted () {
    this.isValid()
    this.getData()
  },
  methods: {
    isValid () {
      var token = this.token
      if (token === undefined || token === null || token.length !== 32) {
        this.$router.push({ name: 'login' })
      } else {
        if (this.$store.state.token !== token) {
          this.$store.commit('saveToken', token)
        }
        this.token = token
      }
    },
    handleCmt (index, row) {
      this.form.classNum = row.classNum
      this.form.teacherNum = row.teacherNum
      this.form.id = row.id
      this.dialogFormVisible = true
    },
    getData () {
      var api = this.$store.state.serverHost + this.$store.state.classApi + '/uncmt/' + this.token
      this.$http.get(api).then(function (res) {
        this.fillData(res.body.data)
      })
    },
    fillData (collections) {
      if (collections === undefined || collections.length === undefined || collections.length === 0) {
        return
      }
      this.tableData = []
      for (var i = 0; i < collections.length; i++) {
        var coll = collections[i]
        this.tableData[i] = {}
        this.tableData[i].place = coll.place_name
        this.tableData[i].teacher = coll.teacher_name
        this.tableData[i].teacherNum = coll.teacher_number
        this.tableData[i].classNum = coll.class_number
        this.tableData[i].address = coll.address
        this.tableData[i].id = coll.id
        var startTime = coll.class_start
        var idx = startTime.search('T')
        var date = startTime.slice(0, idx)
        var time = startTime.slice(idx + 1)
        this.tableData[i].date = date
        this.tableData[i].time = time
      }
    },
    handleQuickSubmit () {
      this.form.teacherCmt = this.teacherCmtPh
      this.form.lessonCmt = this.lessonCmtph
      this.handleSubmit()
    },
    handleSubmit () {
      console.log(this.form)
      var api = this.$store.state.serverHost + this.$store.state.classApi + '/cmt/' + this.form.id
      this.$http.post(api, this.form).then(res => {
        var flag = res.body.success
        if (flag) {
          this.$message('评论成功，谢谢您的宝贵意见！')
        }
      })
      this.dialogFormVisible = false
      this.$router.push({name: 'user_center'})
    }
  }
}
</script>
