<template>
  <div class="ov-body">
    <ovPlace></ovPlace>
    <ovTeachers></ovTeachers>
  </div>
</template>

<style>
.ov-body {
  height: 100%;
}
.item-name {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
.item-name-en {
  font: italic 14px Georgia, serif;
}
.item-name,
.item-name-en {
  color: #d1821a;
}
.place-div,
.place-img {
  width: 95%;
  height: 90%;
  margin: 0px auto 0px auto;
}
.el-card {
  border-bottom: 1px;
  border-top: 1px;
}
.teacher-wall {
  height: 100%;
  width: 80%;
  margin: 0px auto 0px auto;
}
.teacher-avatar {
  margin: 20px;
}
.teacher-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0px auto 0px auto;
}
</style>

<script>
import ovTeachers from '../class/childs/ovTeachers.vue'
import ovPlace from '../class/childs/ovPlace.vue'
// 打开Overview界面，获取场馆和教练信息
export default {
  components: {
    ovTeachers,
    ovPlace
  },
  data () {
    return {token: this.$store.state.token}
  },
  mounted () {
    this.isValid()
  },
  methods: {
    isValid () {
      var token = this.token
      if (token === undefined || token === null || token.length !== 32) {
        this.$router.push({name: 'login'})
      } else {
        if (this.$store.state.token !== token) {
          this.$store.commit('saveToken', token)
        }
        this.token = token
      }
    }
  }
}
</script>
