<template>
  <div class="sub-body">
    <div style="height: 10px;"></div>
    <div class="lesson-body">
      <el-collapse class="lesson-collapse" v-model="activeNames" @change="handleChange">
        <div v-for="(yogas, index) in classes" :key="index">
          <el-collapse-item
            class="lesson-item"
            :title="yogas.date + '（' + yogas.weekday + '）'"
            :name="index"
          >
            <div class="class-card" v-for="(subClass, idx) in yogas.yogas" :key="idx">
              <el-card shadow="hover">
                <div class="class-ctnt" @click="handleSelect(subClass)">
                  <el-row>
                    <span>课程：{{subClass.name}}（{{subClass.difficulty}}）</span>
                  </el-row>
                  <el-row>
                    <span>场馆：{{subClass.place}}</span>
                  </el-row>
                  <el-row>
                    <span>地点：{{subClass.address}}</span>
                  </el-row>
                  <el-row>
                    <span>时间：{{subClass.startTime}} - {{subClass.endTime}}</span>
                  </el-row>
                  <el-row>
                    <span>教练：{{subClass.teacher}}</span>
                  </el-row>
                  <el-row>
                    <span>剩余名额：{{subClass.left}}/{{subClass.total}}</span>
                  </el-row>
                </div>
              </el-card>
            </div>
          </el-collapse-item>
        </div>
      </el-collapse>
    </div>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="60%">
      <span>您选择的课程信息如下：</span>
      <div>
        <span>
          <b>{{subClass.name}}（{{subClass.difficulty}}）</b> 课程
        </span>
      </div>
      <div>
        <span>
          <b>{{subClass.place}}</b>
          位于
          <b>{{subClass.address}}</b>
        </span>
      </div>
      <div>
        <span>
          于
          <b>{{subClass.startTime}} - {{subClass.endTime}}</b>
        </span>
      </div>
      <div>
        <span>
          由
          <b>{{subClass.teacher}}</b> 老师任教
        </span>
      </div>
      <span>是否继续？</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleSubmit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<style>
.sub-body {
  background-color: #ffe4b5;
  height: 800px;
}
.lesson-body {
  width: 90%;
  margin: 0 auto 0 auto;
  background-color: #ffe4b5;
}
.el-collapse {
  border-top-color: #ffe4b5;
}
.lesson-item {
  border-radius: 10%;
}
.el-collapse-item__header,
.el-collapse-item__content {
  background-color: #ffe4b5;
  border-bottom-color: #eea546;
}
.el-collapse-item__wrap {
  border-top: 1px solid #eea546;
  border-bottom: 1px solid #eea546;
  background-color: #ffe4b5;
}
.class-card {
  width: 80%;
  margin: 0 auto 0 auto;
  background-color: #f5ba6e;
  border: 0;
}
.class-card .el-card {
  margin-bottom: 5px;
  margin-top: 5px;
  border: #d1821a 1px solid;
}
.class-ctnt {
  margin-bottom: 5px;
}
</style>

<script>
export default {
  data () {
    return {
      token: this.$store.state.token,
      dialogVisible: false,
      activeNames: [0, 1, 2, 3, 4, 5, 6],
      classes: [],
      subClass: {
        name: '',
        difficulty: '',
        place: '',
        startTime: '',
        endTime: '',
        teacher: '',
        address: '',
        total: 0,
        left: 0
      }
    }
  },
  mounted () {
    this.isValid()
    var isTeacher = this.$route.query.teacher
    var isPlace = this.$route.query.place
    var api = this.$store.state.serverHost + this.$store.state.adminApi
    if (isTeacher) {
      api = api + '/classes/teacher/' + String(isTeacher)
    } else if (isPlace) {
      api = api + '/classes/place/' + String(isPlace)
    } else {
      api = api + '/classes/all/0'
    }
    this.$http.get(api).then(res => {
      this.classes = res.body.data
    })
  },
  methods: {
    isValid () {
      var token = this.token
      if (token === undefined || token === null || token.length !== 32) {
        this.$router.push({ name: 'login' })
      } else {
        if (this.$store.state.token !== token) {
          this.$store.commit('saveToken', token)
        }
        this.token = token
      }
    },
    handleChange (val) {
    },
    handleSubmit () {
      console.log(this.subClass)
      var api =
        this.$store.state.serverHost +
        this.$store.state.classApi +
        '/sub/' +
        this.token +
        '/' +
        this.subClass.classNum
      this.$http.get(api).then(function (res) {
        if (res.body.code === 410) {
          this.$notify({
            title: '感谢您的报名',
            message: '您已经预约了当前课程',
            type: 'warning'
          })
        }
        this.$router.push({name: 'user_center'})
      })
      this.dialogVisible = false
    },
    handleSelect (subClass) {
      if (subClass.left <= 0) {
        this.$notify({
          title: '报名太火爆了！！！',
          message: '该课程当前已经没有名额了……',
          type: 'warning'
        })
        return
      }
      this.dialogVisible = true
      this.subClass = subClass
    },
    polishData (data) {}
  }
}
</script>
