<template>
  <div>
    <el-table
      :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
    >
      <template v-for="(col) in tableHeader">
        <el-table-column
          sortable
          :show-overflow-tooltip="true"
          :prop="col.prop"
          :label="col.label"
          :key="col.prop"
        ></el-table-column>
      </template>
      <el-table-column align="right">
        <template slot="header" align="left">
          <div>
            <el-button type="primary" size="mini" icon="el-icon-edit" circle @click="handleAdd"/>
          </div>
        </template>
        <!-- <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
        </template> -->
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: ['tableData', 'tableHeader'],
  data () {
    return {
      search: ''
    }
  },
  methods: {
    handleEdit (index, row) {
      this.$emit('listenEdit', row)
    },
    handleDelete (index, row) {
      console.log(index, row)
    },
    handleAdd () {
      this.$emit('listenAdd')
    }
  }
}
</script>
