<template>
  <div>
    <el-card shadow="never">
      <div slot="header">
        <span class="yoga-title-en">Yuan Yoga</span>
        <div class="personal-mybuluo-head">
          <!-- <div class="personal-mybuluo-wording">瑜伽馆</div> -->
          <div class="personal-border jmu-border-1px border-bottom"></div>
        </div>
      </div>
      <el-carousel type="card">
        <el-carousel-item v-for="(item, idx) in places" :key="idx">
          <div class="place-div" @click="handlePlaceChose(item)">
            <img :src="server + item.avatar" class="place-img" />
          </div>
          <span class="item-name">{{item.name}}</span>
        </el-carousel-item>
      </el-carousel>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'ovPlace',
  data () {
    return {
      places: null,
      server: this.$store.state.serverHost
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      var apiPlace =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/places/all'
      this.$http.get(apiPlace).then(response => {
        this.places = response.body.data
        // this.cutAvatars(this.places)
      })
    },
    handlePlaceChose (item) {
      this.$router.push({name: 'user_subscription', query: {place: item.placeNum}})
    },
    cutAvatars (places) {
      if (places === undefined) {
        return
      }
      for (var i = 0; i < places.length; i++) {
        var place = places[i]
        var tmp = place.avatar.slice(5)
        var avatarIdx = tmp.search('media')
        if (avatarIdx < 0) {
          return
        }
        var avatar = tmp.slice(avatarIdx - 1)
        places[i].avatar = avatar
      }
    }
  }
}
</script>
