<template>
  <div v-cloak>
    <el-card shadow="never">
      <div slot="header">
        <span class="yoga-title-en">Yoga Instructor</span>
        <div class="personal-mybuluo-head">
          <div class="personal-mybuluo-wording">瑜伽教练</div>
          <div class="personal-border jmu-border-1px border-bottom"></div>
        </div>
      </div>
      <div class="teacher-wall">
        <el-row class="teacher-row" v-for="(tGroup, idx) in teachers" :key="idx">
          <el-col v-for="(teacher, index) in tGroup" :key="index" :span="24/tGroup.length">
            <div class="teacher-avatar" @click="handleCheckTeacher(teacher)">
              <img :src="host + teacher.avatar" />
            </div>
            <span class="item-name-en">{{ teacher.name }}</span>
          </el-col>
        </el-row>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'ovTeachers',
  data () {
    return {
      teachers: null,
      yogas: null,
      host: this.$store.state.serverHost
    }
  },
  mounted () {
    var apiTeacher =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/teachers/all'
    this.$http.get(apiTeacher).then(response => {
      var allTeachers = response.body.data
      // this.cutAvatars(allTeachers)
      var array = {}
      for (var i = 0; i < Math.ceil(allTeachers.length / 3); i++) {
        var gName = 'group' + String(i)
        array[gName] = []
        for (var offset = 0; offset < 3; offset++) {
          if (allTeachers[3 * i + offset] === undefined) {
            break
          }
          array[gName][offset] = allTeachers[3 * i + offset]
        }
      }
      this.teachers = array
    })
  },
  methods: {
    splitArray (ary) {
      var array = {}
      for (var i = 0; i < Math.ceil(ary.length / 3); i++) {
        var gName = 'group' + String(i)
        array[gName] = []
        for (var offset = 0; offset < 3; offset++) {
          array[gName][offset] = ary[3 * i + offset]
        }
      }
      return array
    },
    handleCheckTeacher (teacher) {
      this.$router.push({name: 'user_subscription', query: {teacher: teacher.teacherNum}})
    },
    cutAvatars (teachers) {
      if (teachers === undefined) {
        return
      }
      var i = 0
      for (; i < teachers.length; i++) {
        var teacher = teachers[i]
        var tmp = teacher.avatar.slice(5)
        var avatarIdx = tmp.search('media')
        console.log(tmp, avatarIdx)
        if (avatarIdx < 0) {
          return
        }
        var avatar = tmp.slice(avatarIdx - 1)
        teachers[i].avatar = avatar
      }
    }
  }
}
</script>
