<template>
  <el-container>
    <el-header height="30px">
      <adminHeader />
    </el-header>
    <el-container>
      <el-aside width="201px" style="background-color: #545c64;">
        <el-menu
          :default-active="menuActive"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose"
          @select="handelSelect"
        >
          <el-menu-item index="place">
            <i class="el-icon-location"></i>
            <span slot="title">场馆管理</span>
          </el-menu-item>
          <el-menu-item index="teacher">
            <i class="el-icon-menu"></i>
            <span slot="title">教练管理</span>
          </el-menu-item>
          <el-submenu index="3">
            <template slot="title">
              <i class="el-icon-document"></i>
              <span slot="title">课程管理</span>
            </template>
            <el-menu-item index="lesson">课程设计</el-menu-item>
            <el-menu-item index="class">课时安排</el-menu-item>
          </el-submenu>
          <el-menu-item index="user">
            <i class="el-icon-setting"></i>
            <span slot="title">用户管理</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main>
        <dashboard></dashboard>
        <hr class="main-hr" />
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<style>
.el-container {
  height: 720px;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  height: 100%;
  background-color: rgb(250, 250, 250);
}
.el-header {
  padding: 0px;
}
.main-hr {
  margin: 10px;
  border: 1.5px;
  border-top: 1.5px solid #e4e7ed;
}
</style>

<script>
import adminHeader from './commons/admin_header.vue'
import dashboard from './commons/admin_dashboard.vue'

export default {
  components: {
    adminHeader,
    dashboard
  },
  data () {
    return {
      avatarColor: '#ffffff',
      menuActive: 'place'
    }
  },
  mounted () {
    var path = this.$route.path.replace('/', '')
    var firstSlashIdx = path.indexOf('/')
    var now = path.slice(firstSlashIdx + 1)
    this.menuActive = now
    // this.getStatistic()
  },
  methods: {
    getStatistic () {
      var api =
        this.$store.state.serverHost +
        this.$store.state.adminApi +
        '/admin_models/statistic'
      this.$http.get(api).then(response => {
        var data = response.body.data
        this.$store.commit('saveTeachersCount', data.teachers)
        this.$store.commit('savePlacesCount', data.places)
        this.$store.commit('saveLessonsCount', data.lessons)
      })
    },
    handleOpen (key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      console.log(key, keyPath)
    },
    handelSelect (key, keyPath) {
      var uri = '/admin/'
      switch (key) {
        case 'place':
          uri += 'place'
          break
        case 'teacher':
          uri += 'teacher'
          break
        case 'lesson':
          uri += 'lesson'
          break
        case 'class':
          uri += 'class'
          break
        case 'user':
          uri += 'user'
          break
      }
      this.$router.push(uri)
    }
  }
}
</script>
