<template>
  <div class="signup-body">
    <el-container>
      <el-main>
        <div style="height:10px;"></div>
        <span class="yoga-title-en">Join Us</span>
        <el-card class="form-card" shadow="never">
          <el-form
            :model="infoForm"
            :rules="rules"
            ref="infoForm"
            label-width="80px"
            class="demo-ruleForm"
            style="width:80%; margin: 0 auto 0 auto;"
          >
            <el-form-item label="用户名" prop="name" :label-width="formLabelWidth">
              <el-input v-model="infoForm.name" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
              <el-select v-model="infoForm.gender" placeholder="请选择用户性别">
                <el-option label="男" value="男"></el-option>
                <el-option label="女" value="女"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
              <el-input
                v-model="infoForm.age"
                autocomplete="off"
                type="number"
                placeholder="请输入用户年龄"
                oninput="if(value>99)value=99;if(value.length>2)value=value.slice(0,2);if(value<0)value=0"
              ></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="phone" :label-width="formLabelWidth">
              <el-input
                v-model="infoForm.phone"
                placeholder="请输入手机号码"
                oninput="if(value.length>11)value=value.slice(0,11);if(value<11)value=value"
              ></el-input>
            </el-form-item>
            <el-form-item label="头像" :label-width="formLabelWidth">
              <input
                type="file"
                accept="image/png, image/jpeg"
                autocomplete="off"
                @change="handleUpload"
              />
            </el-form-item>
              <el-button type="info" plain @click="handleSubmit">
                <span style="color:#d1821a">成为会员</span>
              </el-button>
              <el-button plain @click="handleCancel">
                <span>重置</span>
              </el-button>
          </el-form>
        </el-card>
      </el-main>
      <!-- <el-footer class="yoga-footer" height="60px">
        <hr class="light-hr">
        <span>20xx - 20yy XICP备xxxxxxxx号-xy | 版权所有： 武汉源慧文化传播有限公司</span>
        <br>
        <span>工信部： http://www.miitbeian.gov.cn</span>
      </el-footer>-->
    </el-container>
  </div>
</template>

<style>
.form-card {
  margin-top: 10px;
  background-color: #f5daad;
  border: 0px;
}
.signup-body {
  background-color: #ffe4b5;
  height: 720px;
}
.light-hr {
  margin-top: 10px;
  border: 1.5px;
  border-top: 1.5px solid #f5aa49;
}
.yoga-footer span {
  color: #f5aa49;
  font-size: 10px;
}
.yoga-title-en {
  color: #d1821a;
  font: italic 2em Georgia, serif;
}
</style>

<script>
export default {
  data () {
    return {
      formData: new FormData(),
      formLabelWidth: '80px',
      infoForm: {
        name: '',
        phone: '',
        gender: '',
        age: ''
      },
      rules: {
        name: [
          {
            required: true,
            message: '请输入用户名',
            trigger: 'blur'
          }
        ],
        phone: [{ required: true, message: '请输入手机号', trigger: 'blur' }]
      }
    }
  },
  methods: {
    handleUpload (e) {
      var file = e.target.files[0]
      this.formData.append('avatar', file)
    },
    handleCancel () {
      for (var prop in this.infoForm) {
        this.infoForm[prop] = ''
      }
    },
    handleSubmit () {
      var api =
        this.$store.state.serverHost + this.$store.state.adminApi + '/users'
      let config = {
        headers: { 'Content-Type': 'multipart/form-data' }
      }
      for (var prop in this.infoForm) {
        this.formData.append(prop, this.infoForm[prop])
      }
      this.$http
        .post(api, this.formData, config)
        .then(response => {
          console.log('Post response:', response)
          this.formData = new FormData()
          var token = response.body.data.token
          if (token != null && token.length > 0) {
            this.$store.commit('saveToken', token)
            this.$router.push({ path: 'yoga', query: { token: token } })
          } else {
            this.$alert('请检查您的用户名和手机号', '注册异常', {
              confirmButtonText: '确定',
              callback: action => {
                this.$message({
                  type: 'info',
                  message: `action: ${action}`
                })
              }
            })
          }
        })
        .catch(function (errors) {
          this.$alert('请检查您的用户名和手机号', '注册异常', {
            confirmButtonText: '确定',
            callback: action => {
              this.$message({
                type: 'info',
                message: `action: ${action}`
              })
            }
          })
        })
    }
  }
}
</script>
