<template>
  <div>
    <el-container>
      <el-header>
        <el-menu
          :default-active="activeIndex"
          class="el-menu-demo, yoga-nav"
          mode="horizontal"
          @select="handleSelect"
          background-color="#545c64"
          text-color="#d1821a"
          active-text-color="#ffd04b"
        >
          <el-menu-item class="nav-li" index="overview">
            <span class="nav-title-en">Yoga</span>
          </el-menu-item>
          <el-menu-item class="nav-li" index="center">
            <span class="yoga-title">个人中心</span>
          </el-menu-item>
          <el-menu-item class="nav-li" index="sub">
            <span class="yoga-title">预约查询</span>
          </el-menu-item>
          <el-menu-item class="nav-li" index="comment">
            <span class="yoga-title">课程评价</span>
          </el-menu-item>
        </el-menu>
      </el-header>
      <el-main>
        <router-view></router-view>
      </el-main>
      <el-footer class="yoga-footer" height="20px">
        <!-- <hr class="light-hr">
        <span>20xx - 20yy XICP备xxxxxxxx号-xy | 版权所有： 武汉源慧文化传播有限公司</span>
        <br>
        <span>工信部： http://www.miitbeian.gov.cn</span> -->
      </el-footer>
    </el-container>
  </div>
</template>

<style>
.nav-li {
  padding-left: 10px;
  padding-right: 10px;
}
.el-carousel__item h3 {
  /* color: #5a4769; */
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}
.el-carousel__item,
.el-card,
.yoga-footer {
  background-color: #FFE4B5;
}
.el-header,
.el-card__header {
  border-bottom: 0px;
}
.el-main,
.el-header,
.el-card__body {
  padding: 0px;
}
.yoga-title,
.yoga-footer span {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-weight: 545;
  color: #d1821a;
}
.yoga-title-en {
  color: #d1821a;
  font: italic 2em Georgia, serif;
}
.nav-title-en {
  font: italic 14px Georgia, serif;
  font-weight: bold;
}
.personal-mybuluo-head {
  height: 14px;
  position: relative;
  margin-top: 5px;
}
.personal-mybuluo-wording {
  position: absolute;
  top: 0;
  z-index: 2;
  left: 50%;
  background-color: #FFE4B5;
  color: #d1821a;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 0 10px;
}
.personal-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 14px;
  z-index: 1;
}
.jmu-border-1px {
  position: relative;
}
.jmu-border-1px.border-bottom:after {
  border-bottom: 1px solid #d1821a;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) .jmu-border-1px:after {
  right: -100%;
  bottom: -100%;
  -webkit-transform: scale(0.5);
}
.jmu-border-1px:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1);
  pointer-events: none;
}
.yoga-nav .nav-li {
  margin: 0px auto 0px auto; /*也可以简写为margin:0 auto*/
}
.light-hr {
  margin-top: 10px;
  border: 1.5px;
  border-top: 1.5px solid #f5aa49;
}
.yoga-footer span {
  color: #f5aa49;
  font-size: 10px;
}
</style>

<script>
export default {
  data () {
    return {
      activeIndex: 'overview',
      placeNum: 10
    }
  },
  mounted () {
    this.checkActive()
  },
  watch: {
    '$route': 'checkActive'
  },
  methods: {
    checkActive () {
      var path = this.$route.path.replace('/', '')
      var slashIdx = path.indexOf('/')
      var rPath = path.slice(slashIdx + 1)
      this.activeIndex = rPath
    },
    handleSelect (key, keyPath) {
      var uri = '/yoga/'
      switch (key) {
        case 'overview':
          uri += 'overview'
          break
        case 'center':
          uri += 'center'
          break
        case 'sub':
          uri += 'sub'
          break
        case 'comment':
          uri += 'comment'
          break
      }
      this.$router.push({path: uri})
    }
  }
}
</script>
